@use "variables" as v;

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
.navigation {
  width: 100%;
}

@media (min-width: 700px) {
  .container {
    width: 100%;
    flex-direction: row;
    min-height: 100vh;
  }
  .navigation {
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border-right: solid 1px;
    border-right-color: v.$primaryColor;
    background-color: mix(white, v.$primaryColor, 85);
  }
}
